// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

/* Overrides
------------------------------------ */
.top-bar {
    margin-bottom: 0px;
    padding-top: 10px;
}

.top-bar ul > li:hover, .top-bar ul > li.active {
    background: #222;
}

.text-centered {
  text-align: center;
}

/* Header Wrap
------------------------------------ */
div.header-wrap {
    background: #222;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;

    h2 {
        font-family: 'Lobster Two', cursive;
        font-style: italic;
        color: #fff;
    }

    img.profile-picture {
        width: 20px;
        position: relative;
        top: 5px;
        left: -10px;
    }

}


/* Footer Wrap
------------------------------------ */
div.footer-wrap {
  background: #222;
  color: #fff;
  font-weight: 300;
  padding-top: 20px;

  h5 {
    color: #fff;
  }

  ul {
    list-style: none;
  }

}
